.principal {
    @include flexBox(row, center, center);
    width: 90%;
    height: 750px;
    border: 1px solid $preto;
    border-top: none;
    padding-bottom: 150px;


    .escrito {
        height: auto;
        position: relative;
        @include flexBox(column, center, none);
        gap: 20px 0px;

        .titulo {
            position: relative;
            color: $preto;
            font-size: 64px;
            font-weight: 900;
            line-height: 67px;
            max-width: 450px;
            width: 100%;
            line-height: 1.1em;

            span {
                color: $laranja01;
            }
        }

        .paragrafo {
            font-size: 24px;
            font-weight: 500;
            line-height: 28px;
            max-width: 400px;
            width: 100%;
        }

        .botao {
            cursor: pointer;
            background-color: $laranja01;
            max-width: 225px;
            width: 95%;
            height: 48px;
            border: 2px solid $preto;
            box-shadow: 3px 3px 0px $preto;
            color: $preto;
            font-size: 20px;
            font-weight: 500;

            
            &:hover {
                transition: 0.3s;
                transform: translate(2px, 2px);
                box-shadow: 1px 1px 0px $preto;
            }
        }

        .tres-setas {
            position: absolute;
            top: 45px;
            right: 50px;
            width: 50px;
        }

        .seta-curva {
            position: absolute;
            bottom: -75px;
            left: 50%;
            transform: translateX(-50%);
            
        }

    }

    .imagem {
        max-width: 700px;
        width: 100%;

        img {
            width: 100%;
        }
    }
}


@media(max-width: 1400px) {
    .principal .imagem {
        max-width: 600px;
    }
}

@media(max-width: 1220px) {
    .principal {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 20px;
        height: auto;
        padding: 10px 0px 200px 0px;
    }

    .principal .escrito  {
     align-items: center;
    }


    .principal .escrito .titulo {
        text-align: center;
    }

    .principal .escrito .paragrafo {
        text-align: center;
        max-width: 600px;
        width: 95%;
    }

    .principal .escrito .tres-setas {
        top: 55px;
        right: 5px;
      }

      .principal .escrito .seta-curva {
        position: absolute;
        bottom: -65px;
        left: 70%;
        transform: translateX(-70%);
      }

    .principal .imagem {
        max-width: 500px;
    }
}

@media(max-width: 600px) {
    .principal .imagem img{
        width: 90%;
        margin: auto;
        display: block;
    }

    .principal .escrito .titulo {
        font-size: 55px;
        width: 95%;
      }

      .principal .escrito .tres-setas {
        top: 10px;
        right: 10px;
      }

      .principal .escrito .paragrafo {
        font-size: 20px;
      }

      .principal .escrito .seta-curva {
        width: 100px;
      }
}

@media(max-width: 456px) {

    .principal .escrito .titulo {
        font-size: 40px;
        line-height: 1.3em;
      }

      .principal .escrito .tres-setas {
        width: 35px;
        top: 8px;
        right: 8px;
      }

      
      .principal .escrito .paragrafo {
        font-size: 18px;
      }


}

@media(max-width: 360px) {
    .principal .escrito .titulo {
        font-size: 33px;
    }

    .principal .escrito .paragrafo {
        font-size: 16px;
        line-height: 2em;
      }

      .principal  .escrito .botao {
        max-width: 160px;
        font-size: 16px;
      }

      .principal .escrito .seta-curva {
        bottom: -50px;
        width: 70px;
      }

}

