.secundario {
    width: 90%;
    height: 550px;
    border: 1px solid $preto;
    border-top: none;
    @include flexBox(column, none, center);
    gap: 80px 0px;

    .cards {
        @include flexBox(row, center, center);
        flex-wrap: wrap;
        gap:  90px 20px;
        width: 95%;


        .card-item {
            position: relative;
            height: 300px;
            max-width: 270px;
            width: 95%;
            border: 2px solid $preto;
            box-shadow: 3px 3px 0px $preto;
            padding: 20px 10px;
            @include flexBox(column, none, none);
            gap: 10px 0px;

            &:nth-child(1), 
            &:nth-child(3) {
                margin-top: -80px;
                background-color: $laranja01;
            }

            &:nth-child(2), 
            &:nth-child(4) {
                margin-top: -50px;
                background-color: $laranja02;
            }

            .img-item {
                width: 50px;
            }

            .titulo {
                font-size: 24px;
                font-weight: 900;
                color: $preto;
            }

            .paragrafo {
                font-size: 16px;
                font-weight: 500;
                color: $preto;
            }

            .img-seta {
                position: absolute;
                width: 60px;
                bottom: 10px;
                right: 10px;
                cursor: pointer;
            }
        }
    }

    .escrito {
        @include flexBox(column, center, center);
        gap: 30px 0px ;

        .titulo {
        font-size: 64px;
        font-weight: 900;

            span {
                color: $laranja01;
            }
        }

        .botao {
            cursor: pointer;
            background-color: $laranja01;
            max-width: 225px;
            width: 95%;
            height: 48px;
            border: 2px solid $preto;
            box-shadow: 3px 3px 0px $preto;
            color: $preto;
            font-size: 20px;
            font-weight: 500;

            
            &:hover {
                transition: 0.3s;
                transform: translate(2px, 2px);
                box-shadow: 1px 1px 0px $preto;
            }
        }
    }
}

@media(max-width: 1352px) {
    .secundario {
        height: auto;
        padding: 0px 0px 40px 0px;
    }

    
}

@media(max-width: 672px) {
    .secundario .cards .card-item:nth-child(1), .secundario .cards .card-item:nth-child(3) {
        margin-top: -50px;
    }

    .secundario .cards .card-item:nth-child(2), .secundario .cards .card-item:nth-child(4) {
        margin-top: -50px;
    }
}

@media(max-width: 550px) {
    .secundario .escrito .titulo {
        width: 90%;
        font-size: 60px;
        text-align: center;
    }
}

@media(max-width: 360px) {
    .secundario .escrito .titulo {
        width: 90%;
        font-size: 50px;
        text-align: center;
    }

    .secundario .escrito .botao {
        max-width: 200px;
    }
}




